@import "../../styles/mixins.scss";

.postGrid {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 45px;
  }

  @include desktop {
    margin-bottom: 60px;
  }

  &:hover {
    scale: 1.0125;
    color: var(--color-green);
    transition: all 0.25s linear;
  }

  .title {
    margin: 0 0 7.5px;
  }

  .published {
    font-size: 12px;
  }

  .description {
    font-size: 14px;
    margin: 7.5px 0 0;
  }
}

body[data-theme="dark"] {
  .postGrid {
    &:hover {
      color: var(--color-yellow-0);
    }
  }
}
