@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin container {
  margin: 0 1rem;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: 40rem;
    padding: 0;
  }

  @include desktop {
    max-width: 45rem;
  }
}
