@use "../../styles/mixins.scss";

.nav {
  background-color: transparent;

  &--container {
    @include mixins.container;
  }

  &--wrapper {
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    @include mixins.tablet {
      min-height: 90px;
    }
  }

  &--logo {
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-black-2);

      @include mixins.tablet {
        font-size: 20px;
      }
    }
  }

  &--links {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    }

    li {
      list-style-type: none;
      margin-right: 1.5rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
